{% extends "inicio/encabezado.html" %}

{% block titulo %}Principal{% endblock %}

{% block imagen %}
{% load static %}
{% static 'inicio/images/home.png' %}
{% endblock %}

{% block span %}
Principal <span>DSM</span>
{% endblock %}

{% block encabezado %}
<div class="page-header">
    <div class="page-title">
        <h3>Alumnos
        <small>Lista de Alumnos</small></h3>
    </div>
</div>
{% endblock %}

{% block contenido %}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Carrera</th>
            <th>Turno</th>
        </tr>
    </thead>
    <tbody>
        {% for alumno in 8A %}
        <tr>
            <td class="text-center">
                <img src="{{ alumno.imagen.url }}" alt="" class="img-media">
            </td>
            <td>{{ alumno.matricula }}</td>
            <td>{{ alumno.nombre }}</td>
            <td>{{ alumno.carrera }}</td>
            <td>{{ alumno.turno }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}